<a href="https://colab.research.google.com/github/lilykahn/BTE320/blob/main/BTE320.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
Interest=3
n=1

In [5]:
print("Interest rate:", Interest, "; Number of years =", n)

Interest rate: 3 ; Number of years = 1

In [14]:
print("Interest rate: {}; Number of years = {}".format(Interest, n))

Interest rate: 3; Number of years = 1

In [10]:
print(f"Interest rate: {Interest}; Number of years = {n}")

Interest rate: 3; Number of years = 1

In [16]:
interest = 3
principal = 3000
n = 1
final = principal * (1 + interest / 100) ** n
print(final)

3090.0

In [22]:
interest = input("Set interest value (%): ")
print(interest)
type(interest)

Set interest value (%): 3
3

str

In [23]:
interest = float(input("Set interest value (%): "))
print(interest)
type(interest)

Set interest value (%): 3
3.0

float

Function input always returns a string by default
For the value to be a float, you have to type in float

In [25]:
interest = float(input("Set interest value (%): "))
principal = float(input("Enter initial amount on the account ($): "))
n = int(input("Enter number of years: "))

final = principal * (1 + interest/100) ** n

print(f"Total amount after {n} years: {final}$")

Set interest value (%): 3
Enter initial amount on the account ($): 3000
Enter number of years: 1
Total amount after 1 years: 3090.0$

In [4]:
email = "Open this link: http://www.spam.org to receive your award!!!"
is_urgent = "Urgent"
has_www = "www."

if is_urgent in email:
  print("Phishing!")
elif has_www in email:
  print("Spam!")
else:
  print("Legit")

Legit

In [ ]:
from ast import Expression
if condition:
  expres
  expres
  elif another_condition:
    exprs
    exprs

In [12]:
grade = float(input("Enter student grade (0-100): "))

if grade >= 97:
  print("A+")
elif grade >= 93: #and grade < 97:, but you dont have to put that bc the program already knows that
  print("A")

Enter student grade (0-100): 95
A